@import url(https://fonts.googleapis.com/css?family=Lato);
*{
	padding: 0;
	margin: 0;
}
/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #16a085;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 5px;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #16a085, 0 0 5px #16a085;
  opacity: 1.0;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
      -ms-transform: rotate(3deg) translate(0px, -4px);
          transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
  display: none;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}

#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;

  border: solid 2px transparent;
  border-top-color: #29d;
  border-left-color: #29d;
  border-radius: 50%;

  -webkit-animation: nprogress-spinner 400ms linear infinite;
          animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

@-webkit-keyframes nprogress-spinner {
  0%   { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes nprogress-spinner {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
body{
	font-family: 'Lato', sans-serif;
	background: #FDFDFD;
	font-size: 15px;
}
.container{
	max-width: 950px;
	width: 95%;
	margin: 0 auto;
}
header{
	width: 100%;
	background: linear-gradient(to right, #9D50BB , #6E48AA), url(../img/header-border.png) repeat-x;
	float: left;
}
header a.logo{
	text-decoration: none;
	padding: 18px 10px;
	color: #ededed;
	float: left;
	-ms-transition: .5s;
  	transition: .5s;
}
header a.logo:hover{
	-webkit-filter: brightness(90%);
    filter: brightness(90%);
}
header a.logo span{
	margin-top: 2px;
	margin-left: 7px;
	color: #ededed;
	font-size: 25px;
	font-weight: bold;
	float: right;
}
header nav{
	float: right;
}
header nav ul{
	list-style: none;
	float: left;
	margin-right: 10px;
}
header nav ul li{
	display: table-cell;
}
header nav ul li a{
	padding: 28px 10px;
	text-decoration: none;
	color: rgba(255, 255, 255, 0.5);
	float: left;
}
header nav ul li a:hover{
	color: #ededed;
}
header nav form{
	float: right;
	margin-top: 20px;
}
header nav form input[type="search"]{
	background: #8a44d5;
	border-radius: 10px;
	border: 0px;
	height: 35px;
	padding: 0 5px;
	webkit-transition: all 0.5s;
	transition: all 0.5s;
	color: #ededed;
}
header nav form input[type="search"]:hover, header nav form input[type="search"]:focus {
	background: #853cd3;
}
header nav form input[type="submit"]{
    height: 35px;
    border: none;
    padding: 1px 5px;
    margin: 0;
    color: #ededed;
    cursor: pointer;
    text-shadow: 0 1px 0 rgba(0,0,0,0.3);
    border-radius: 0px 3px 3px 0px;
    background: #2363C3;
}
.video-container{
	width: 100%;
	text-align: center;
	background: #000;
	float: left;
}
.video-container iframe{
	max-width: 1024px;
	width: 100%;
	height: 400px;
	background: url("../img/loading-video.svg") no-repeat center center;
}
main{
	display: block;
}
main .mais-recente{
	width: 100%;
	float: left;
	margin-top: 7px;
	margin-bottom: 20px;
}
main .row .c6{
	width: 48%;
	margin: 1%;
	float: left;
}
main .row .c6 a{
	width: 100%;
	text-decoration: none;
}
main .row .c6 a figure{
	position: relative;
}
main .row .c6 a figure img{
	width: 100%;
	display: block;
	-webkit-filter: brightness(90%); 
    filter: brightness(90%); 
    -ms-transition: .5s;
  	transition: .5s;
}
main .row .c6 a figure img:hover{
	-webkit-filter: brightness(100%); 
    filter: brightness(100%); 
}
main .row .c6 a figure figcaption{
    background: rgba(0, 0, 0, 0.7);
    color: #FFF;
    position: absolute;
    bottom: 3%;
    left: 0;
    right: 0;
    padding: 2%;
}
main .categorias{
	width: 100%;
	background: #FDFDFD;
	float: left;
	margin-bottom: 20px;
}
main .categorias h1{
	color: #0077D3;
	margin-bottom: 5px;
	border-bottom: 2px solid;
}
main .row .c3{
	width: 23%;
	height: auto;
	margin: 1%;
	float: left;
}
main .row .c3 h1{
	color: #9F2AFF;
}
main .row .c3 a{
	width: 100%;
	text-decoration: none;
}
main .row .c3 a figure{
	position: relative;
}
main .row .c3 a figure img{
	width: 100%;
	display: block;
	-webkit-filter: brightness(90%); 
    filter: brightness(90%); 
    -ms-transition: .5s;
  	transition: .5s;
}
main .row .c3 a figure img:hover{
	-webkit-filter: brightness(100%); 
    filter: brightness(100%); 
}
main .row .c3 a figure figcaption{
    background: rgba(0, 0, 0, 0.7);
    color: #FFF;
    position: absolute;
    bottom: 3%;
    left: 0;
    right: 0;
    padding: 2%;
}
footer{
	width: 100%;
	height: 50px;
	background: linear-gradient(to right, #9D50BB , #6E48AA);
	float: left;
}
footer p{
	text-align: center;
	color: rgba(255, 255, 255, 0.5);
	margin-top: 15px;
}
@media screen and (max-width: 820px){
	.video-container iframe{
		height: 350px;
	}
}
@media screen and (max-width: 640px){
	.container{
		max-width: 950px;
		width: 95%;
		margin: 0 auto;
	}
	.video-container iframe{
		height: 250px;
	}
	main .row .c6{
		width: 98%;
		margin: 1%;
	}
	main .row .c3{
		width: 48%;
		height: auto;
		margin: 1%;
		float: left;
	}
}