---
layout: default
---

<section class="mais-recente">
  <div class="container">
    <div class="row">
      {% for post in site.posts limit:3 %}
        <div class="c6">
          <a href="{{ site.baseurl }}{{ post.url }}">
            <figure>
              <img src="{{ "/img/loading.jpg" | prepend: site.baseurl }}" data-echo="http://img.youtube.com/vi/{{ post.video_id }}/mqdefault.jpg">
              <figcaption>{{ post.title }}</figcaption>
            </figure>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
<section class="videos">
  <div class="container">
    <h1>House</h1>
    <div class="row">
      {% for post in site.tags['teste'] limit:4 %}
      <div class="c3">
        <a href="{{ site.baseurl }}{{ post.url }}">
          <figure>
            <img src="{{ "/img/loading.jpg" | prepend: site.baseurl }}" data-echo="http://img.youtube.com/vi/{{ post.video_id }}/mqdefault.jpg">
            <figcaption>{{ post.title }}</figcaption>
          </figure>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<section class="videos">
  <div class="container">
    <h1>House</h1>
    <div class="row">
      {% for post in site.categories['teste'] limit:4 %}
      <div class="c3">
        <a href="{{ site.baseurl }}{{ post.url }}">
          <figure>
            <img src="{{ "/img/loading.jpg" | prepend: site.baseurl }}" data-echo="http://img.youtube.com/vi/{{ post.video_id }}/mqdefault.jpg">
            <figcaption>{{ post.title }}</figcaption>
          </figure>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<section class="videos">
  <div class="container">
    <h1>House</h1>
    <div class="row">
      {% for post in site.categories['teste'] limit:4 %}
      <div class="c3">
        <a href="{{ site.baseurl }}{{ post.url }}">
          <figure>
            <img src="{{ "/img/loading.jpg" | prepend: site.baseurl }}" data-echo="http://img.youtube.com/vi/{{ post.video_id }}/mqdefault.jpg">
            <figcaption>{{ post.title }}</figcaption>
          </figure>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<section class="videos">
  <div class="container">
    <h1>House</h1>
    <div class="row">
      {% for post in site.categories['teste'] limit:4 %}
      <div class="c3">
        <a href="{{ site.baseurl }}{{ post.url }}">
          <figure>
            <img src="{{ "/img/loading.jpg" | prepend: site.baseurl }}" data-echo="http://img.youtube.com/vi/{{ post.video_id }}/mqdefault.jpg">
            <figcaption>{{ post.title }}</figcaption>
          </figure>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<section class="videos">
  <div class="container">
    <h1>House</h1>
    <div class="row">
      {% for post in site.categories['teste'] limit:4 %}
      <div class="c3">
        <a href="{{ site.baseurl }}{{ post.url }}">
          <figure>
            <img src="{{ "/img/loading.jpg" | prepend: site.baseurl }}" data-echo="http://img.youtube.com/vi/{{ post.video_id }}/mqdefault.jpg">
            <figcaption>{{ post.title }}</figcaption>
          </figure>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<section class="videos">
  <div class="container">
    <h1>House</h1>
    <div class="row">
      {% for post in site.categories['teste'] limit:4 %}
      <div class="c3">
        <a href="{{ site.baseurl }}{{ post.url }}">
          <figure>
            <img src="{{ "/img/loading.jpg" | prepend: site.baseurl }}" data-echo="http://img.youtube.com/vi/{{ post.video_id }}/mqdefault.jpg">
            <figcaption>{{ post.title }}</figcaption>
          </figure>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<section class="videos">
  <div class="container">
    <h1>House</h1>
    <div class="row">
      {% for post in site.categories['teste'] limit:6 %}
      <div class="c3">
        <a href="{{ site.baseurl }}{{ post.url }}">
          <figure>
            <img src="{{ "/img/loading.jpg" | prepend: site.baseurl }}" data-echo="http://img.youtube.com/vi/{{ post.video_id }}/mqdefault.jpg">
            <figcaption>{{ post.title }}</figcaption>
          </figure>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<div class="todos-os-videos">
  <a lang="br" href="{{ "/videos/" | prepend: site.baseurl }}">ver todos os vídeos</a>
</div>