<header>
  <div class="container">
    <div class="logo">
      <a href="{{ site.baseurl }}/"><img src="{{ "/img/logo.png" | prepend: site.baseurl }}" alt="Erivelton | Play" title="Erivelton | Play"></a>
    </div>
    <div id="nav-icon3">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <nav>
      <ul>
        <li><a class="trn" href="{{ "/tags/" | prepend: site.baseurl }}">Tags</a></li>
        <li><a class="trn" data-remodal-target="modal">Contato</a></li>
      </ul>
      <!-- Search form -->
      <form method="get" action="/search" data-search-form>
        <input type="search" required="" name="q" id="q" placeholder="Buscar" data-search-input />
        <input type="image" src="{{ "/img/search.svg" | prepend: site.baseurl }}" alt="Buscar" />
      </form>
    </nav>
  </div>
</header>
