<header>
  <div class="container">
    <div class="logo">
      <a href="{{ site.baseurl }}/"><img src="{{ "/img/logo.png" | prepend: site.baseurl }}" alt="Erivelton | Play" title="Erivelton | Play"></a>
    </div>
    <div id="nav-icon3">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <nav>
      <ul>
        {% for my_page in site.pages %}
          {% if my_page.title %}
          <li><a class="trn" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
      <!-- Search form -->
      <form method="get" action="/search" data-search-form>
        <input type="search" required="" name="q" id="q" placeholder="Buscar" data-search-input />
        <input type="submit" value="Buscar" />
      </form>
    </nav>
  </div>
</header>
