<header>
  <div class="container">
    <div class="logo">
      <a href="{{ site.baseurl }}/"><img src="{{ "/img/logo.png" | prepend: site.baseurl }}" alt="Erivelton | Play" title="Erivelton | Play"></a>
    </div>
    <div id="nav-icon3">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <nav>
      <ul>
        <li><a lang="br" href="{{ "/videos/" | prepend: site.baseurl }}">Todos os Vídeos</a></li>
        <li><a data-remodal-target="tags">Tags</a></li>
        <li><a lang="br" data-remodal-target="contato">Contato</a></li>
      </ul>
      <!-- Search form -->
      <div id="search-container">
          <input type="text" id="search-input" placeholder="Buscar" lang="br">
      </div>
    </nav>
  </div>
</header>
