---
layout: page
title: Todos os Vídeos
---

<!-- This loops through the paginated posts -->
<section class="videos">
    <div class="row">
      {% for post in paginator.posts %}
      <div class="c3">
        <a href="{{ site.baseurl }}{{ post.url }}">
          <figure>
            <img src="{{ "/img/loading.jpg" | prepend: site.baseurl }}" data-echo="http://img.youtube.com/vi/{{ post.video_id }}/mqdefault.jpg">
            <figcaption>{{ post.title }}</figcaption>
          </figure>
        </a>
      </div>
      {% endfor %}
    </div>
</section>

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a lang="br" href="{{ paginator.previous_page_path }}" class="previous">Anterior</a>
  {% else %}
    <span lang="br" class="previous">Anterior</span>
  {% endif %}
  <span class="page_number "><span lang="br">Página: </span><span>{{ paginator.page }}</span><span lang="br"> de </span><span>{{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a lang="br" href="{{ paginator.next_page_path }}" class="next">Próxima</a>
  {% else %}
    <span lang="br" class="next ">Próxima</span>
  {% endif %}
</div>