<!-- ---
layout: compress
--- -->
<!DOCTYPE html>
<html lang="pt-br">
  {% include head.html %}
  <body>
    {% include header.html %}
    <main>
    <div class="remodal" data-remodal-id="modal">
      <button data-remodal-action="close" class="remodal-close"></button>
      <h1>Remodal</h1>
      <p>
        Responsive, lightweight, fast, synchronized with CSS animations, fully customizable modal window plugin with declarative configuration and hash tracking.
      </p>
      <br>
      <button data-remodal-action="cancel" class="remodal-cancel">Cancel</button>
      <button data-remodal-action="confirm" class="remodal-confirm">OK</button>
    </div>
    <div class="container">
      <div class="row">
        <div class="c12">
          <!-- Search results placeholder -->
          <p data-search-found>
            <span data-search-found-count></span><span data-search-found-teste></span><span data-search-found-term></span>
          </p>
          <div data-search-results></div>
        </div>
      </div>
      <!-- Search result template -->
      <script type="text/x-template" id="search-result">
      <div class="c3">
        <a href="##Url##">
          <figure>
            <img src="http://img.youtube.com/vi/##video_id##/mqdefault.jpg" data-echo="http://img.youtube.com/vi/##video_id##/mqdefault.jpg">
            <figcaption>##Title##</figcaption>
          </figure>
        </a>
      </div>
      </script>
    </div>
        {{ content }}
    </main>
    {% include footer.html %}
  <script src="https://cdn.jsdelivr.net/jquery/2.2.4/jquery.min.js" data-turbolinks-eval=false></script>
  <script async defer src="https://cdnjs.cloudflare.com/ajax/libs/nprogress/0.2.0/nprogress.min.js" data-turbolinks-eval=false></script>
  <script src="{{ "/js/echo.min.js" | prepend: site.baseurl }}" data-turbolinks-eval=false></script>
  <script async defer src="https://cdnjs.cloudflare.com/ajax/libs/turbolinks/1.3.0/turbolinks.min.js" data-turbolinks-eval=false></script>
  <script src="{{ "/js/remodal.min.js" | prepend: site.baseurl }}"></script>
  <!-- Search script - Must appear after template -->
  <script src="/scripts/search.js"></script>
  <script type="text/javascript">
    $(document).on('page:fetch', function() {
      NProgress.start();
    });
    $(document).on('page:change', function() {
      NProgress.done();
    });
    $(document).on('page:restore', function() {
      NProgress.remove();
    });
  </script>
  <script>
  echo.init({
    offset: 100,
    throttle: 250,
    unload: false,
    callback: function (element, op) {
      console.log(element, 'has been', op + 'ed')
    }
  });

  // echo.render(); is also available for non-scroll callbacks
  </script>
  <script src="{{ "/js/jquery-lang.js" | prepend: site.baseurl }}" charset="utf-8" type="text/javascript" data-turbolinks-eval=false></script>
  <script>
    var lang = new Lang();
    lang.dynamic('en', '/js/langpack/en.json');
    lang.init({
        defaultLang: 'br'
      });
    if(navigator.browserLanguage) {  
    var idioma = navigator.browserLanguage;    
    }
    else if(navigator.language) {
    var idioma = navigator.language;
    }
    if(idioma.toLowerCase() == "pt-br"){
      window.lang.change('en');
    }else{
      window.lang.change('en');
    }
  </script>
  <script type="text/javascript">
    $(document).ready(function(){
      $('#nav-icon1,#nav-icon2,#nav-icon3,#nav-icon4').click(function(){
        $(this).toggleClass('fechar');
        $('nav').toggle();
      });
    });
  </script>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(["_setAccount", "UA-67059182-1"]);
    _gaq.push(["_trackPageview"]);
    (function() {
        var e = document.createElement("script");
        e.type = "text/javascript";
        e.async = true;
        e.src = ("https:" == document.location.protocol ? "https://ssl" : "http://www") + ".google-analytics.com/ga.js";
        var t = document.getElementsByTagName("script")[0];
        t.parentNode.insertBefore(e, t)
    })()
  </script>
  </body>
</html>
