<!-- ---
layout: compress
--- -->
<!DOCTYPE html>
<html lang="pt-br">
  {% include head.html %}
  <body>
    {% include header.html %}
    <main>
    <div class="remodal" data-remodal-id="tags">
      <button data-remodal-action="close" class="remodal-close"></button>
      <h1>Tags</h1>
      <!-- Get the tag name for every tag on the site and set them
to the `site_tags` variable. -->
{% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}

<!-- `tag_words` is a sorted array of the tag names. -->
{% assign tag_words = site_tags | split:',' | sort %}

<!-- List of all tags -->
<ul class="tags">
  {% for item in (0..site.tags.size) %}{% unless forloop.last %}
    {% capture this_word %}{{ tag_words[item] }}{% endcapture %}
    <li>
      <a href="/tags/?q={{ this_word | cgi_escape }}" class="tag">{{ this_word }}
        <span>({{ site.tags[this_word].size }})</span>
      </a>
    </li>
  {% endunless %}{% endfor %}
</ul>
    </div>
    <div class="remodal" data-remodal-id="contato">
      <button data-remodal-action="close" class="remodal-close"></button>
      <h1>Contato</h1>
      <a href="https://www.facebook.com/profile.php?id=100009391645621"><img src="{{ "/img/facebook.svg" | prepend: site.baseurl }}" alt="Facebook"></a>
      <a href="http://erivelton.com/"><img src="{{ "/img/website.svg" | prepend: site.baseurl }}" alt="Website"></a>
    </div>
    <div class="container">
      <div id="results-container"></div>
    </div>
        {{ content }}
    </main>
    {% include footer.html %}
  <script src="https://cdn.jsdelivr.net/jquery/2.2.4/jquery.min.js" data-turbolinks-eval=false></script>
  <script async defer src="https://cdnjs.cloudflare.com/ajax/libs/nprogress/0.2.0/nprogress.min.js" data-turbolinks-eval=false></script>
  <script src="{{ "/js/echo.min.js" | prepend: site.baseurl }}" data-turbolinks-eval=false></script>
  <script async defer src="https://cdnjs.cloudflare.com/ajax/libs/turbolinks/1.3.0/turbolinks.min.js" data-turbolinks-eval=false></script>
  <script src="{{ "/js/remodal.min.js" | prepend: site.baseurl }}"></script>
  <!-- Search script - Must appear after template -->
  <script type="text/javascript">
    $(document).on('page:fetch', function() {
      NProgress.start();
    });
    $(document).on('page:change', function() {
      NProgress.done();
    });
    $(document).on('page:restore', function() {
      NProgress.remove();
    });
  </script>
  <script>
  echo.init({
    offset: 100,
    throttle: 250,
    unload: false,
    callback: function (element, op) {
      console.log(element, 'has been', op + 'ed')
    }
  });

  // echo.render(); is also available for non-scroll callbacks
  </script>
  <script src="{{ "/js/jquery-lang.js" | prepend: site.baseurl }}" charset="utf-8" type="text/javascript" data-turbolinks-eval=false></script>
  <script>
    var lang = new Lang();
    lang.dynamic('en', '/js/langpack/en.json');
    lang.init({
        defaultLang: 'br'
      });
    if(navigator.browserLanguage) {  
    var idioma = navigator.browserLanguage;    
    }
    else if(navigator.language) {
    var idioma = navigator.language;
    }
    if(idioma.toLowerCase() == "pt-br"){
      window.lang.change('br');
    }else{
      window.lang.change('en');
    }
  </script>
  <script type="text/javascript">
    $(document).ready(function(){
      $('#nav-icon1,#nav-icon2,#nav-icon3,#nav-icon4').click(function(){
        $(this).toggleClass('fechar');
        $('nav').toggle();
      });
    });
  </script>
  <script type="text/javascript">
  if(idioma.toLowerCase() == "pt-br"){
      $('body').append('<script src="/js/jekyll-search.js">');
    }else{
      $('body').append('<script src="/js/jekyll-search-en.js">');
    }
  </script>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(["_setAccount", "UA-67059182-1"]);
    _gaq.push(["_trackPageview"]);
    (function() {
        var e = document.createElement("script");
        e.type = "text/javascript";
        e.async = true;
        e.src = ("https:" == document.location.protocol ? "https://ssl" : "http://www") + ".google-analytics.com/ga.js";
        var t = document.getElementsByTagName("script")[0];
        t.parentNode.insertBefore(e, t)
    })()
  </script>
  </body>
</html>
