---
layout: default
---
<div class="video-container">
	<iframe src="https://www.youtube.com/embed/{{ page.video_id }}?rel=0&arp;modestbranding=1&arp;autoplay=1" frameborder="0" allowfullscreen></iframe>
</div>

{% if site.related_posts.size >= 1 %}
<section class="videos">
  <div class="container">
    <h1 lang="br">Vídeos Relacionados</h1>
    <div class="row">
  {% for related_post in site.related_posts %}
        <div class="c3">
            <a href="{{ site.baseurl }}{{ related_post.url }}">
              <figure>
                <img src="{{ "/img/loading.jpg" | prepend: site.baseurl }}" data-echo="http://img.youtube.com/vi/{{ related_post.video_id }}/mqdefault.jpg">
                <figcaption>{{ related_post.title }}</figcaption>
              </figure>
            </a>
        </div>
  {% endfor %}
    </div>
  </div>
</section>
{% endif %}